<section id="got-your-email">  
  <form action="http://pooleapp.com/stash/fd5be8ea-2633-40f8-aba0-f5d13e606889/" method="post">
    <input type="hidden" name="redirect_to" value="/contact/#got-your-email" />
    <input type="email" name="email" placeholder="Votre email">
    <input type="text" name="name" placeholder="Votre nom">
    <textarea name="textarea" rows="10" cols="50">Sujet</textarea>
    <input type="submit" value="send" />
  </form>
  <p class="confirmation">
    Merci!
  </p>
</section>