<section id="got-your-email">  
  <form action="//pooleapp.com/stash/fd5be8ea-2633-40f8-aba0-f5d13e606889/" method="post">
    <input type="hidden" name="redirect_to" value="/en/contact/#got-your-email" />
    <input type="email" name="email" placeholder="Your Email">
    <input type="text" name="name" placeholder="Your Name">
    <textarea name="textarea" rows="10" cols="50">Subject here</textarea>
    <input type="submit" value="send" />
  </form>
  <p class="confirmation">
    Thank you!
  </p>
</section>
