<!DOCTYPE html>
<html>
<!--Template by Hossain Mohammad Faysal-->
<head>
{% include head.html %}
{% include scripts-head.html %}
</head>
<body class="home-template" itemscope itemtype="//schema.org/WebPage">
{% include tagmanager.html %}
<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a>


        <div class="notepad-blog-menu">
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
        {% include links-generator.html %}
    </ul>
    {% include language-selector.html %}
</div>
        <div class="clearfix"></div>
    </div>
    <div class="notepad-site-head-content" >
        <div class="notepad-site-head-bg"></div>
        <h1 class="notepad-blog-title">
            <span class="notepad-site-head-title-bg">
                {{ site.title }}
            </span>
        </h1>
        <h2 class="notepad-blog-description">{{ site.description }}</h2>
    </div>
</header>


<main class="notepad-content" role="main">

            {{ content }}
</main>
    {% include footer.html %}
    {% include scripts-body.html %}
</body>
</html>
